*{
    box-sizing: border-box;
    display: flex;
    margin: auto auto;
    flex-direction: column
}
.current-question{
    margin-left: auto;
    margin-right: auto;
}
.item .question-choices{
    align-items: flex-start;
}

.item .progress{
    justify-content: flex-start;
    border: 1px solid black;
    width: fit-content;
    display: inline-block;
    order: 1;
}

.item .score{
    border: 1px solid black;
    width: fit-content;
    display: inline-block;
    order: 2;
}

body{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.item{
    display: flex;
    flex-direction: column;
}

.item .submit-button{
    width: fit-content;
    display: inline-flex;
    justify-content: flex-end;
    order: 3;
}

div .footer{
    flex-direction: row;
}

.quiz-box, .current-question, .feedback, .results-page{
    border: 1px solid black;
    margin: 1em 0 1em 0;
}

.answer-response{
    background-color: aqua;
}

.correct-answer{
    background-color: green;
}

.incorrect-answer{
    background-color: red;
}

.first-page{
    border: 1px solid black;
    margin: 1em 0 1em 0;
}